[data-section-type="hero"] {
  background-image: url(https://picsum.photos/id/110/1200/1200/);
  background-position: center center;
  background-size: cover;
  padding: var(--spacing-xxl);
  color: white;
  min-height: 50vh
}