.card {
  border-radius: var(--border-radius-m);
  box-shadow: var(--shadow-small);
  overflow: hidden;
  padding: 2rem;
  border: 1px solid var(--color-gray-light);
  box-shadow: 0 22px 18px -20px rgba(0,0,0,.2);
}
