body > footer {
    padding-top: 4em;
    padding-bottom: 4em;
    
    .container {
        display: flex;
        gap: 4em;
        margin: 0 auto;
        padding: 0 var(--spacing-m);

        .logo {
            max-height: 4em;
        }
    }

    @media screen and (max-width: 900px) {
        .container {
            padding: 0 var(--spacing-xxl);
        }
    }
}