img {
    &.shadow-small {
        box-shadow: var(--shadow-small);
    }
    &.shadow-medium {
        box-shadow: var(--shadow-medium);
    }
    &.shadow-large {
        box-shadow: var(--shadow-large);
    }

    &.grayscale {
        filter: grayscale(100%);
        transition: filter 0.3s;

        &:hover {
            filter: grayscale(0%);
        }
    }
    &.blur {
        filter: blur(5px);
        transition: filter 0.3s;

        &:hover {
            filter: blur(0);
        }
    }
    &.sepia {
        filter: sepia(100%);
        transition: filter 0.3s;

        &:hover {
            filter: sepia(0%);
        }
    }
    &.rotate-right {
        transform: rotate(10deg);
    }
    &.rotate-right-sm {
        transform: rotate(8deg);
    }
    &.rotate-right-xs {
        transform: rotate(4deg);
    }
    &.rotate-left {
        transform: rotate(-10deg);
    }
    &.rotate-left-sm {
        transform: rotate(-8deg);
    }
    &.rotate-left-xs {
        transform: rotate(-4deg);
    }


}