html {
  scroll-padding-top: 105px;
}
body {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xxl);

  section {
    width: 100%;
    max-width: var(--max-width);
    margin: 0 auto;
    flex: none;
  }

  .container {
    max-width: var(--max-width);
  }
}