html {
  font-size: 62.5%;
  font-family: var(--font-sans);
  font-optical-sizing: auto;
}

h1, h2, h3, h4 {
  text-wrap: balance;
}

h1 {
  font-family: var(--font-serif);
  font-size: var(--font-size-xxl);
  font-weight: var(--font-weight-medium);
  line-height: 1.2;
}

h2 {
  font-family: var(--font-serif);
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-light);
  line-height: 1.3;
}

h3 {
  font-family: var(--font-serif);
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-medium);
  line-height: 1.4;
}

h4 {
  font-family: var(--font-serif);
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-medium);
  line-height: 1.5;
}

p {
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-regular);
  line-height: 1.6;
}

h1, h2, h3, h4 {
  --decoration-color: var(--color-gray-light);

  &.braces {
    position: relative;
    background-color: white;
    z-index: 1;
    padding-right: var(--spacing-m);
    padding-left: var(--spacing-m);
    border-width: 2px;
    border-style: solid;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-left-color: var(--decoration-color);
    border-right-color: var(--decoration-color);
    margin-right: 10vw;
    margin-left: 10vw;
    width: fit-content;

    &:before {
      content: "";
      z-index: 0;
      position: absolute;
      top: calc(50% - 1px);
      height: 2px;
      right: 100%;
      width: 10vw;
      max-width: 100px;
      background-color: var(--decoration-color);
    }

    &:after {
      content: "";
      z-index: 0;
      position: absolute;
      top: calc(50% - 1px);
      height: 2px;
      left: 100%;
      width: 10vw;
      max-width: 100px;
      background-color: var(--decoration-color);
    }
  }

  &.lines {
    position: relative;
    background-color: white;
    z-index: 1;
    padding-right: var(--spacing-m);
    padding-left: var(--spacing-m);
    margin-right: 10vw;
    margin-left: 10vw;
    width: fit-content;

    &:before {
      content: "";
      z-index: 0;
      position: absolute;
      top: calc(50% - 3px);
      left: 100%;
      width: 10vw;
      max-width: 100px;
      height: 5px;
      border-bottom: 1px solid var(--decoration-color);
      border-top: 1px solid var(--decoration-color);
    }

    &:after {
      content: "";
      z-index: 0;
      position: absolute;
      top: calc(50% - 3px);
      right: 100%;
      width: 10vw;
      max-width: 100px;
      height: 5px;
      border-bottom: 1px solid var(--decoration-color);
      border-top: 1px solid var(--decoration-color);
    }
  }

  &.dots {
    position: relative;
    background-color: white;
    z-index: 1;
    padding-right: 6rem;
    padding-left: 6rem;
    margin-right: 10vw;
    margin-left: 10vw;
    width: fit-content;

    &:before {
      content: "";
      z-index: 0;
      position: absolute;
      top: calc(50% - 3px);
      right: 0rem;
      width: 5px;
      height: 5px;
      background-color: var(--decoration-color);
      border-radius: 50%;
      box-shadow: -12px 0px 0px 2px var(--decoration-color), -28px 0px 0px 4px var(--decoration-color);
    }

    &:after {
      content: "";
      z-index: 0;
      position: absolute;
      top: calc(50% - 3px);
      left: 0rem;
      width: 5px;
      height: 5px;
      background-color: var(--decoration-color);
      border-radius: 50%;
      box-shadow: 12px 0px 0px 2px var(--decoration-color), 28px 0px 0px 4px var(--decoration-color);
    }
  }
}