/* Flexbox */
.flex {
  display: flex;
}
.flex-1 {
  flex: 1;
}
.flex-2 {
  flex: 2;
}
.flex-3 {
  flex: 3;
}
.flex-4 {
  flex: 4;
}
.flex-5 {
  flex: 5;
}
.flex-column {
  flex-direction: column;
}
.flex-row {
  flex-direction: row;
}
.flex-aic {
  align-items: center;
}
.flex-aifs {
  align-items: flex-start;
}
.flex-aife {
  align-items: flex-end;
}
.flex-jcc {
  justify-content: center;
}
.flex-jcsb {
  justify-content: space-between;
}
.flex-jcfe {
  justify-content: flex-end;
}
.flex-jcsa {
  justify-content: space-around;
}
.flex-jcfs {
  justify-content: flex-start;
}
.flex-reverse {
  flex-direction: row-reverse;
}

.shadow-small {
  box-shadow: var(--shadow-small);
}



.rounded {
  border-radius: var(--border-radius-m);
}
.rounded-s {
  border-radius: var(--border-radius-s);
}
.rounded-l {
  border-radius: var(--border-radius-l);
}
.rounded-xl {
  border-radius: var(--border-radius-xl);
}
.round {
  border-radius: 1000px;
}



/* Visibility */
.hidden {
  display: none;
}
.visible {
  display: block;
}
.invisible {
  visibility: hidden;
}
.oh {
  overflow: hidden;
}



/* Sizing */
.full-width {
  width: 100%;
}
.full-height {
  height: 100%;
}
.w-50 {
  width: 5rem;
}
.w-100 {
  width: 10rem;
}
.w-200 {
  width: 20rem;
}
.w-300 {
  width: 30rem;
}
.w-400 {
  width: 40rem;
}
.w-500 {
  width: 50rem;
}
.w-600 {
  width: 60rem;
}
.w-700 {
  width: 70rem;
}
.w-800 {
  width: 80rem;
}
.w-900 {
  width: 90rem;
}
.w-1000 {
  width: 100rem;
}



/* Aspect */
.aspect-square {
  aspect-ratio: 1 / 1;
}
.aspect-video {
  aspect-ratio: 16 / 9;
}
.aspect-4-3 {
  aspect-ratio: 4 / 3;
}
.aspect-3-2 {
  aspect-ratio: 3 / 2;
}
.aspect-2-1 {
  aspect-ratio: 2 / 1;
}



/* Images */
.cover {
  object-fit: cover;
}
.contain {
  object-fit: contain;
}
.center {
  object-position: center;
}
.center-top {
  object-position: top;
}
.center-bottom {
  object-position: bottom;
}
.center-left {
  object-position: left;
}
.center-right {
  object-position: right;
}



/* Position */
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.fixed {
  position: fixed;
}
.sticky {
  position: sticky;
}
.top-0 {
  top: 0;
}
.right-0 {
  right: 0;
}
.bottom-0 {
  bottom: 0;
}
.left-0 {
  left: 0;
}





/* Font */
.font-serif {
  font-family: var(--font-serif) !important;
}
.font-sans {
  font-family: var(--font-sans) !important;
}
.font-xxs {
  font-size: var(--font-size-xxs);
}
.font-xs {
  font-size: var(--font-size-xs);
}
.font-s {
  font-size: var(--font-size-s);
}
.font-m {
  font-size: var(--font-size-m);
}
.font-l {
  font-size: var(--font-size-l);
}
.font-xl {
  font-size: var(--font-size-xl);
}
.font-xxl {
  font-size: var(--font-size-xxl);
}





/* Text */
.tac {
  text-align: center;
}
.tal {
  text-align: left;
}
.tar {
  text-align: right;
}
.taj {
  text-align: justify;
}
.uppercase {
  text-transform: uppercase;
}
.lowercase {
  text-transform: lowercase;
}
.capitalize {
  text-transform: capitalize;
}
.italic {
  font-style: italic;
}
.underline {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-decoration-color: var(--color-gray-dark);
  text-underline-offset: 0.2em;
}
.font-bold {
  font-weight: var(--font-weight-bold);
}
.font-light {
  font-weight: var(--font-weight-light);
}
.font-regular {
  font-weight: var(--font-weight-regular);
}
.font-medium {
  font-weight: var(--font-weight-medium);
}
.text-gray {
  color: var(--color-gray);
}
.text-gray-light {
  color: var(--color-gray-light);
}
.text-gray-dark {
  color: var(--color-gray-dark);
}
.text-primary {
  color: var(--color-primary);
}
.text-secondary {
  color: var(--color-secondary);
}
.text-tertiary {
  color: var(--color-tertiary);
}





/* Colors */
.bg-gray {
  background-color: var(--color-gray);
}
.bg-gray-light {
  background-color: var(--color-gray-light);
}
.bg-gray-dark {
  background-color: var(--color-gray-dark);
}
.bg-primary {
  background-color: var(--color-primary);
}
.bg-secondary {
  background-color: var(--color-secondary);
}
.bg-tertiary {
  background-color: var(--color-tertiary);
}
.bg {
  background-color: var(--color-bg);
}





/* Margin */
.m-0-a {
  margin: auto;
}
.m-t-1 {
  margin-top: 1rem;
}
.m-b-1 {
  margin-bottom: 1rem;
}
.m-l-1 {
  margin-left: 1rem;
}
.m-r-1 {
  margin-right: 1rem;
}
.m-x-1 {
  margin-left: 1rem;
  margin-right: 1rem;
}
.m-y-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.m-1 {
  margin: 1rem;
}

.m-t-2 {
  margin-top: 2rem;
}
.m-b-2 {
  margin-bottom: 2rem;
}
.m-l-2 {
  margin-left: 2rem;
}
.m-r-2 {
  margin-right: 2rem;
}
.m-x-2 {
  margin-left: 2rem;
  margin-right: 2rem;
}
.m-y-2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.m-2 {
  margin: 2rem;
}

.m-t-3 {
  margin-top: 3rem;
}
.m-b-3 {
  margin-bottom: 3rem;
}
.m-l-3 {
  margin-left: 3rem;
}
.m-r-3 {
  margin-right: 3rem;
}
.m-x-3 {
  margin-left: 3rem;
  margin-right: 3rem;
}
.m-y-3 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.m-3 {
  margin: 3rem;
}

.m-t-4 {
  margin-top: 4rem;
}
.m-b-4 {
  margin-bottom: 4rem;
}
.m-l-4 {
  margin-left: 4rem;
}
.m-r-4 {
  margin-right: 4rem;
}
.m-x-4 {
  margin-left: 4rem;
  margin-right: 4rem;
}
.m-y-4 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.m-4 {
  margin: 4rem;
}

.m-t-5 {
  margin-top: 5rem;
}
.m-b-5 {
  margin-bottom: 5rem;
}
.m-l-5 {
  margin-left: 5rem;
}
.m-r-5 {
  margin-right: 5rem;
}
.m-x-5 {
  margin-left: 5rem;
  margin-right: 5rem;
}
.m-y-5 {
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.m-5 {
  margin: 5rem;
}



/* Padding */
.p-t-1 {
  padding-top: 1rem;
}
.p-b-1 {
  padding-bottom: 1rem;
}
.p-l-1 {
  padding-left: 1rem;
}
.p-r-1 {
  padding-right: 1rem;
}
.p-x-1 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.p-y-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.p-1 {
  padding: 1rem;
}

.p-t-2 {
  padding-top: 2rem;
}
.p-b-2 {
  padding-bottom: 2rem;
}
.p-l-2 {
  padding-left: 2rem;
}
.p-r-2 {
  padding-right: 2rem;
}
.p-x-2 {
  padding-left: 2rem;
  padding-right: 2rem;
}
.p-y-2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.p-2 {
  padding: 2rem;
}

.p-t-3 {
  padding-top: 3rem;
}
.p-b-3 {
  padding-bottom: 3rem;
}
.p-l-3 {
  padding-left: 3rem;
}
.p-r-3 {
  padding-right: 3rem;
}
.p-x-3 {
  padding-left: 3rem;
  padding-right: 3rem;
}
.p-y-3 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.p-3 {
  padding: 3rem;
}

.p-t-4 {
  padding-top: 4rem;
}
.p-b-4 {
  padding-bottom: 4rem;
}
.p-l-4 {
  padding-left: 4rem;
}
.p-r-4 {
  padding-right: 4rem;
}
.p-x-4 {
  padding-left: 4rem;
  padding-right: 4rem;
}
.p-y-4 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.p-4 {
  padding: 4rem;
}

.p-t-5 {
  padding-top: 5rem;
}
.p-b-5 {
  padding-bottom: 5rem;
}
.p-l-5 {
  padding-left: 5rem;
}
.p-r-5 {
  padding-right: 5rem;
}
.p-x-5 {
  padding-left: 5rem;
  padding-right: 5rem;
}
.p-y-5 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.p-5 {
  padding: 5rem;
}


