doctype html
head 
  link rel="stylesheet" href="style.css"

  link rel="preconnect" href="https://fonts.googleapis.com"
  link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="anonymous"
  link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet"

body 
  section.flex.flex-column data-section-type="hero"
    h1 Startup Template
    h2 The easiest way to start
    p.m-t-4 Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate possimus incidunt aliquam nam accusantium fugit esse distinctio cum, quidem officiis pariatur illo, voluptatum sapiente ullam atque, accusamus tempore sunt qui.

  section.rounded.oh data-section-type="caption-figure"
    figure.flex.flex-reverse
      img src="https://via.placeholder.com/350"
      figcaption.m-x-3.flex.flex-column.flex-jcc
        h3 Feature
        p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate possimus incidunt aliquam nam accusantium fugit esse distinctio cum, quidem officiis pariatur illo, voluptatum sapiente ullam atque, accusamus tempore sunt qui.

  section data-section-type="caption-figure"
    figure.flex
      img src="https://via.placeholder.com/350"
      figcaption.m-x-3.flex.flex-column.flex-jcc
        h3 Feature
        p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate possimus incidunt aliquam nam accusantium fugit esse distinctio cum, quidem officiis pariatur illo, voluptatum sapiente ullam atque, accusamus tempore sunt qui.